<html>
  <head>
    <link rel="stylesheet"   href="http://netdna.bootstrapcdn.com/bootswatch/3.1.1/amelia/bootstrap.min.css">
    
    <title>FAQs</title>
  </head>
  <body>
    <div class="container">
    <h1>FAQs</h1>
      <form action='/' method='POST'>
        <p>
          Add a new FAQ!:
        </p>
        <input type='text' name='faq_title'/><br/>
        <textarea name='faq_description'></textarea><br/>
        <input type='submit'/>
      </form>
    </div>

    
  </body>
</html>